# --find-links https://download.pytorch.org/whl/cpu
# torch==2.1.0
# torchaudio
# torchvision
# --------------------------------------------------------


google-generativeai
fastapi
uvicorn[standard]
celery
redis
pydantic
sqlalchemy
python-dotenv
openai-whisper

numpy<2.0

scikit-learn
joblib
pandas
librosa
pydub
shortuuid
python-multipart
pyngrok
psycopg2-binary

boto3
requests