--find-links https://download.pytorch.org/whl/cpu
torch==2.1.0
torchaudio
torchvision

google-generativeai
fastapi
uvicorn[standard]
celery
redis
pydantic
sqlalchemy
python-dotenv
openai-whisper

scikit-learn
joblib
pandas
librosa
pydub
shortuuid
python-multipart
pyngrok